<!-- Cart page view -->
<div class="container">
    <h1 class="text-center my-4">My Cart</h1>
{{#if shoppingListQty}}
    <ul class="col-md-8 d-grid gap-3 m-auto mb-3">
        {{#each shoppingListQty}}
            <div class="card text-center">
                <li class="my-2">{{name}} - Quantity: {{qty}} - Total: {{total}} €
                    <button class="btn btn-danger btn-sm" onclick="removeFromCart('{{id}}')">Delete</button>
                </li>
            </div>
            
        {{/each}}
    </ul>
    <div class="text-center">
        <button class="btn btn-danger btn-sm" onclick="removeAllItems()">Remove all the items</button>
    </div>
{{else if noUserQty}}
    <ul class="col-md-8 d-grid gap-3 m-auto mb-3">
        {{#each noUserQty}}
            <div class="card text-center">
                <li class="my-2">{{name}} - Quantity: {{qty}} - Total: {{total}} €
                    <button class="btn btn-danger btn-sm" onclick="removeFromCart('{{id}}')">Delete</button>
                </li>
            </div>
        {{/each}}
    </ul>
    <div class="text-center">
        <button class="btn btn-danger btn-sm" onclick="removeAllItems()">Remove all the items</button>
    </div>
    <div class="col-md-8 alert bg-secondary mt-4 mx-auto">
        <p class="text-center">
            If you are not logged in, your cart could be lost. <br>
            Log in with <a href="/auth/google" class="text-white">Google</a> to save your cart.
        </p>
    </div>
{{else}}
    <div class="col-md-8 text-center m-auto">
        <p class="alert bg-secondary text-white p-3">
            Your cart is empty
        </p>
    </div>
{{/if}}
</div>