<h1>My Cart</h1>
{{#if shoppingList}}
    <ul>
        {{#each shoppingList}}
            <li>{{name}} - {{description}} - {{price}} €
                <button onclick="removeFromCart('{{id}}')">Delete</button>
            </li>
        {{/each}}
    </ul>
    <button onclick="removeAllItems()">Remove all the items</button>
{{else if noUser}}
    <ul>
        {{#each noUser}}
            <li>{{name}} - {{description}} - {{price}} €
                <button onclick="removeFromCart('{{id}}')">Delete</button>
            </li>
        {{/each}}
    </ul>
    <button onclick="removeAllItems()">Remove all the items</button>
{{else}}
    <p>Your cart is empty.</p>
{{/if}}