<div class="container">
<h1 class="text-center my-4">Lists of Items</h1>
<ul class="col-md-8 d-grid gap-3 m-auto mb-3">
{{#each items}}
    <div class="card text-center ">
        <li class="my-2">{{name}} - {{description}} - {{price}} €
            <button class="btn btn-primary btn-sm" onclick="addToCart('{{id}}')">Add to cart</button>
        </li>
    </div>
    
{{/each}}
</ul>

{{#if user}} 
    <div class="text-center">
        <button class="btn btn-primary btn-sm">
            <a href="/cartList" class="text-white" >Go to my cart</a>
        </button>
    </div>
{{else}}
    <div class="text-center">
        <button class="btn btn-primary btn-sm">
            <a href="#" onclick="goToCart()" class="text-white">Go to my cart</a>
        </button>
    </div>
    <div class="col-md-8 alert bg-secondary mt-4 mx-auto">
        <p>
            If you are not logged in, your cart could be lost after your session. <br>
            Log in with <a href="/auth/google" class="text-white">Google</a> to save your cart.
        </p>
    </div>
{{/if}}
</div>